GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

GRAFANA_DB_LOCAL_HOST=host.docker.internal
GRAFANA_DB_LOCAL_PORT=3306
GRAFANA_DB_LOCAL_NAME=network_monitor
GRAFANA_DB_LOCAL_USER=myuser
GRAFANA_DB_LOCAL_PASSWORD=mypassword

GRAFANA_DB_REMOTE_HOST=host.docker.internal
GRAFANA_DB_REMOTE_PORT=3306
GRAFANA_DB_REMOTE_NAME=network_monitor
GRAFANA_DB_REMOTE_USER=myuser
GRAFANA_DB_REMOTE_PASSWORD=mypassword
